{
.appVersion = "3098";
.formatVersion = 3;
customParameters = (
{
name = unicodeRanges;
value = (
);
},
{
name = codePageRanges;
value = (
);
}
);
date = "2022-11-10 17:15:38 +0000";
familyName = Diphylleia;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature fwid;
feature ss01;
feature ss02;
feature ss03;
";
tag = aalt;
},
{
code = "lookupflag IgnoreMarks;
sub f f i by f_f_i;
sub f f l by f_f_l;
sub f f by f_f;
sub f i by f_i;
sub f l by f_l;
sub f k by f_k;";
tag = liga;
},
{
automatic = 1;
code = "sub asterisk by asterisk.full;
sub parenleft by parenleft.full;
sub parenright by parenright.full;
";
tag = fwid;
},
{
automatic = 1;
code = "sub a by a.ss01;
sub g by g.ss01;
sub G by G.ss01;
sub Q by Q.ss01;
";
labels = (
{
language = dflt;
value = "Alternative Q,G,g,a";
}
);
tag = ss01;
},
{
automatic = 1;
code = "sub G by G.ss02;
";
labels = (
{
language = dflt;
value = "Alternative G_2";
}
);
tag = ss02;
},
{
automatic = 1;
code = "sub ggoc-ko by ggoc-ko.ss03;
";
labels = (
{
language = dflt;
value = Hanguel_flower;
}
);
tag = ss03;
},
{
code = "sub gi-ko beom-ko by gi_beom-ko.dlig;
sub min-ko ho-ko by min_ho-ko.dlig;
sub on-ko yu-ko by on_yu-ko.dlig;
sub jong-ko hyeon-ko by jong_hyeon-ko.dlig;
sub tae-ko min-ko by tae_min-ko.dlig;
sub sya-ko i-ko ni-ko by sya_i_ni-ko.dlig;
sub de-ko bwi-ko il-ko by debut.dlig;
sub J A M O by JAMO.dlig;
sub M i n h a by minha.dlig;
sub min-ko ha-ko by minha.dlig;";
tag = dlig;
}
);
fontMaster = (
{
customParameters = (
{
name = "CJK Grid";
value = "100";
}
);
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = -16;
},
{
over = -16;
pos = -200;
},
{
pos = 650;
},
{
pos = 466;
},
{
}
);
name = Regular;
userData = {
GSCornerRadius = 20;
GSOffsetHorizontal = 3;
GSOffsetKeepCompatible = 1;
GSOffsetProportional = 1;
GSOffsetVertical = -60;
};
visible = 1;
}
);
instances = (
{
instanceInterpolations = {
m01 = 1;
};
name = Regular;
}
);
kerningLTR = {
m01 = {
A = {
B = 20;
D = 30;
J = 20;
M = 40;
N = 10;
P = 20;
R = -10;
T = -50;
U = -80;
V = -115;
W = -110;
X = 50;
Y = -100;
f = 0;
h = -10;
n = -15;
o = -21;
p = -5;
quotedblright = -60;
quoteright = -60;
s = -6;
u = -10;
v = -50;
w = -50;
x = 20;
y = -50;
z = 30;
};
AE = {
B = -10;
H = -10;
};
B = {
A = -40;
E = -30;
H = -25;
I = -50;
J = 2;
L = -10;
U = -30;
W = -9;
X = -50;
Y = -30;
};
C = {
A = -30;
H = -5;
N = 8;
U = -20;
X = -30;
Y = -20;
Z = -10;
};
D = {
A = -40;
D = -10;
E = -16;
H = -30;
I = -30;
K = -20;
L = -10;
R = -10;
U = -40;
X = -90;
Y = -70;
Z = -30;
comma = -15;
icircumflex = 5;
idieresis = 5;
igrave = 5;
o = 10;
};
E = {
R = 10;
T = 10;
V = 20;
icircumflex = 10;
idieresis = 15;
igrave = 20;
quoteright = 30;
};
F = {
B = -10;
G = -15;
M = -20;
a = -70;
aacute = -50;
acircumflex = -50;
adieresis = -50;
agrave = -50;
aring = -50;
atilde = -30;
e = -70;
eacute = -30;
ecircumflex = -50;
edieresis = -30;
egrave = -30;
ellipsis = -40;
i = -5;
iacute = -10;
idieresis = 10;
igrave = 0;
n = -40;
o = -70;
oacute = -40;
ocircumflex = -20;
odieresis = -40;
ograve = -10;
otilde = -20;
question = 20;
r = -20;
u = -50;
uacute = -30;
ucircumflex = -10;
udieresis = -20;
y = -40;
ydieresis = -10;
};
G = {
H = -20;
J = 30;
O = 10;
U = -14;
V = -50;
X = -10;
e = 6;
r = -10;
};
H = {
A = -10;
AE = -20;
B = 10;
C = -5;
O = -20;
OE = -20;
U = -20;
Ucircumflex = -20;
Ugrave = -20;
V = 10;
X = 10;
Y = 5;
ellipsis = -20;
o = -10;
trademark = 10;
v = -20;
w = -20;
y = -20;
};
I = {
B = 5;
D = 10;
O = 0;
W = 10;
idieresis = 10;
quoteright = 30;
};
J = {
W = 20;
X = -20;
a = -35;
e = -35;
o = -35;
};
K = {
E = 40;
H = 20;
X = 20;
Z = 20;
a = -30;
e = -40;
emdash = -30;
endash = -20;
hyphen = -40;
i = -30;
idieresis = 10;
n = -15;
o = -30;
u = -20;
udieresis = -20;
v = -50;
w = -60;
y = -30;
};
L = {
"@MMK_R_A" = -22;
B = -20;
C = -30;
D = -10;
E = -40;
H = -50;
M = -30;
N = -10;
O = -50;
P = -40;
R = -30;
S = -53;
T = -80;
U = -80;
V = -140;
W = -120;
X = -40;
Y = -120;
Z = -40;
a = -50;
e = -50;
ellipsis = -40;
emdash = -70;
endash = -110;
exclam = -40;
hyphen = -50;
i = -50;
o = -50;
question = -70;
quotedblright = -70;
quoteright = -50;
registered = -60;
trademark = -50;
u = -50;
w = -70;
y = -70;
};
M = {
B = 10;
E = 10;
J = 10;
L = -20;
P = 10;
U = -10;
i = -20;
quoteright = 30;
};
N = {
A = -40;
F = -10;
T = 30;
V = 40;
Y = 10;
exclam = 10;
trademark = 60;
};
O = {
G = 10;
H = -30;
I = -10;
N = -20;
T = -10;
U = -36;
V = -30;
W = -20;
X = -50;
Y = -60;
};
P = {
A = -110;
B = -10;
E = -20;
H = -70;
I = -40;
L = -50;
P = -30;
U = -40;
X = -70;
Y = -30;
Z = -10;
a = -40;
aacute = -30;
acircumflex = -30;
adieresis = -30;
agrave = -30;
aring = -30;
atilde = -30;
e = -40;
eacute = -40;
ecircumflex = -40;
egrave = -20;
n = -9;
o = -40;
oacute = -40;
ocircumflex = -40;
odieresis = -30;
ograve = -20;
otilde = -30;
};
Q = {
"@MMK_R_l" = 20;
J = 101;
Q = 40;
U = -30;
exclam = 30;
icircumflex = 6;
idieresis = 5;
question = 20;
quotedblright = 30;
quoteright = 20;
semicolon = 20;
};
R = {
A = -20;
B = 30;
C = -10;
D = 40;
E = -30;
H = -10;
O = -50;
S = -50;
T = -60;
U = -80;
V = -90;
W = -80;
X = -10;
Y = -110;
a = -50;
adieresis = -50;
e = -60;
ellipsis = -50;
emdash = -20;
endash = -30;
hyphen = -50;
i = -40;
iacute = -30;
icircumflex = -30;
idieresis = -30;
igrave = -30;
o = -50;
odieresis = -50;
quotedblright = -50;
quoteright = -40;
u = -40;
udieresis = -40;
y = -50;
};
S = {
A = -30;
I = -20;
T = 10;
Y = -10;
};
T = {
A = -90;
L = -10;
O = -10;
R = 15;
S = 10;
T = 20;
U = -30;
Y = 10;
a = -80;
aacute = -70;
acircumflex = -40;
adieresis = -30;
agrave = -40;
aring = -40;
asterisk = 30;
atilde = -10;
colon = 10;
comma = -60;
e = -90;
eacute = -30;
ecircumflex = -30;
edieresis = -40;
egrave = -30;
ellipsis = -110;
emdash = -10;
exclam = 20;
h = 10;
i = 0;
iacute = -20;
idieresis = 20;
m = -10;
o = -80;
oacute = -40;
ocircumflex = -40;
odieresis = -30;
ograve = -40;
otilde = -30;
period = -80;
question = 40;
quotedblright = 30;
quoteright = 30;
r = -10;
s = -50;
semicolon = 20;
u = -60;
uacute = -30;
ucircumflex = -20;
udieresis = -30;
ugrave = -10;
w = -40;
y = -40;
ydieresis = -10;
};
U = {
A = -80;
F = -10;
H = -30;
O = -20;
Uacute = -40;
a = -50;
ampersand = -20;
comma = -30;
e = -40;
ellipsis = -50;
exclam = 20;
n = -40;
o = -30;
p = -20;
period = -30;
r = -10;
s = -20;
u = -10;
v = -10;
w = -30;
};
Uacute = {
Ucircumflex = -40;
};
Ucircumflex = {
H = -20;
Udieresis = -40;
};
Udieresis = {
Ugrave = -40;
};
V = {
A = -135;
C = -20;
F = -30;
H = -40;
I = -30;
J = -10;
L = -10;
M = -30;
N = -10;
O = -50;
Q = -50;
S = -30;
U = -47;
X = -30;
Z = -40;
a = -100;
aacute = -90;
acircumflex = -90;
adieresis = -80;
agrave = -90;
aring = -90;
atilde = -90;
c = -100;
colon = -30;
e = -100;
eacute = -100;
ecircumflex = -100;
edieresis = -100;
egrave = -100;
endash = -20;
i = -30;
iacute = -100;
icircumflex = -30;
igrave = -30;
n = -50;
o = -100;
oacute = -100;
ocircumflex = -100;
odieresis = -80;
ograve = -100;
otilde = -100;
r = -50;
s = -80;
semicolon = -20;
u = -80;
uacute = -80;
ucircumflex = -80;
udieresis = -80;
ugrave = -80;
y = -80;
ydieresis = -80;
};
W = {
A = -130;
C = -10;
E = -7;
G = -20;
H = -25;
I = -20;
J = -20;
O = -20;
Q = -60;
U = -20;
X = -10;
Z = -30;
a = -90;
aacute = -90;
acircumflex = -90;
adieresis = -90;
agrave = -90;
aring = -90;
atilde = -80;
comma = -40;
e = -90;
eacute = -90;
ecircumflex = -90;
edieresis = -70;
egrave = -90;
ellipsis = -40;
h = -20;
i = -10;
iacute = -30;
m = -40;
n = -50;
o = -80;
oacute = -100;
ocircumflex = -90;
odieresis = -80;
ograve = -80;
otilde = -90;
period = -50;
r = -30;
s = -70;
t = -10;
u = -50;
uacute = -40;
ucircumflex = -40;
udieresis = -40;
ugrave = -40;
v = -40;
y = -40;
ydieresis = -20;
};
X = {
A = 40;
B = 30;
C = -50;
D = 32;
E = 20;
G = -10;
H = 10;
J = -10;
M = 10;
O = -20;
Q = -20;
T = -10;
U = -10;
X = 10;
a = -20;
aacute = 0;
acircumflex = 0;
agrave = 0;
e = -30;
ellipsis = -30;
o = -30;
oacute = -10;
ocircumflex = -10;
ograve = -10;
quotedblright = 10;
quoteright = 10;
u = -20;
y = -20;
};
Y = {
A = -100;
C = -30;
G = -10;
H = 0;
M = -10;
O = -60;
P = 10;
Q = -30;
S = -10;
T = 10;
V = 20;
W = 30;
Y = 10;
Z = -20;
a = -70;
aacute = -70;
acircumflex = -70;
adieresis = -70;
agrave = -60;
aring = -70;
asterisk = 20;
atilde = -50;
comma = -50;
d = -30;
e = -70;
eacute = -70;
ecircumflex = -60;
edieresis = -70;
egrave = -70;
ellipsis = -50;
exclam = 30;
iacute = -10;
idieresis = 30;
igrave = 10;
o = -70;
oacute = -70;
ocircumflex = -70;
odieresis = -50;
ograve = -60;
otilde = -50;
p = -50;
period = -80;
question = 20;
quotedblright = 10;
quoteright = 10;
r = -25;
s = -40;
u = -25;
uacute = -40;
ucircumflex = -20;
udieresis = -20;
ugrave = -20;
v = -45;
z = -30;
};
Z = {
A = -30;
C = -10;
Q = -10;
U = -20;
W = 10;
a = -16;
e = -16;
ellipsis = -10;
exclam = 30;
o = -16;
question = 10;
u = -10;
};
a = {
b = -20;
i = -20;
x = 10;
};
b = {
y = 10;
};
braceleft = {
f = 130;
longs = 150;
};
bracketleft = {
f = 140;
longs = 140;
};
c = {
h = -12;
m = 10;
n = 10;
};
ccedilla = {
n = 20;
o = 20;
};
d = {
m = -5;
u = -30;
y = -5;
};
e = {
e = -15;
longs = 0;
};
eight = {
hyphen = 10;
};
ellipsis = {
H = -30;
T = -100;
U = -50;
X = -30;
Y = -50;
Z = -10;
x = -10;
z = -20;
};
emdash = {
K = 20;
R = 20;
};
endash = {
K = 20;
L = 20;
R = 20;
};
exclam = {
space = 0;
};
f = {
P = 50;
a = -65;
b = -10;
c = -55;
d = -40;
e = -65;
ellipsis = -40;
endash = -20;
exclam = 70;
f = -60;
g = -45;
h = 40;
i = 0;
j = 30;
k = 20;
l = 10;
m = -30;
n = -20;
o = -50;
p = -40;
period = -30;
q = -70;
question = 60;
s = -50;
u = -30;
v = -20;
w = -23;
x = -30;
y = -30;
z = -30;
};
f_i = {
space = 0;
};
florin = {
four = -50;
nine = 30;
seven = 80;
};
four = {
degree = -20;
};
g = {
e = 5;
ellipsis = -10;
f = 30;
j = 50;
s = 10;
y = 20;
};
germandbls = {
n = -20;
v = -20;
w = -15;
y = -20;
};
h = {
dagger = -30;
e = -10;
ellipsis = -10;
f = -20;
florin = -50;
i = -15;
o = -10;
registered = -35;
trademark = -45;
w = -30;
y = -40;
};
hyphen = {
K = 20;
eight = 10;
};
i = {
a = -15;
};
idieresis = {
igrave = -10;
l = 10;
};
j = {
a = -20;
d = -20;
ellipsis = -20;
j = 10;
k = -20;
};
k = {
f = -15;
x = 12;
};
longs = {
c = -80;
e = -100;
f = -70;
longs = -70;
s = -50;
u = -50;
v = -40;
w = -20;
x = -40;
y = -60;
z = -90;
};
m = {
b = -5;
ellipsis = -20;
w = -20;
y = -20;
};
n = {
ccedilla = -10;
ellipsis = -10;
x = 10;
y = -20;
};
o = {
b = -10;
ccedilla = -10;
comma = -10;
h = -10;
k = -24;
n = -10;
o = -10;
quotedblbase = -10;
quotesinglbase = -10;
r = -3;
t = -10;
u = -10;
x = -3;
};
one = {
degree = -60;
period = -20;
quotedbl = -30;
quotesingle = -30;
};
otilde = {
oe = 0;
};
p = {
f = 10;
h = -40;
};
parenleft = {
f = 120;
f_f = 120;
f_f_i = 120;
f_f_l = 120;
f_i = 120;
f_k = 120;
f_l = 120;
florin = 50;
longs = 100;
y = 50;
};
q = {
f = 50;
j = 100;
};
questiondown = {
a = -40;
};
quotedblleft = {
A = -60;
o = -20;
};
quotedblright = {
o = -20;
};
quotesingle = {
one = 0;
};
r = {
T = -50;
a = -10;
c = -15;
d = -10;
f = 10;
g = -50;
i = 10;
m = 30;
n = 10;
quotedblright = 21;
quoteright = 30;
r = 20;
t = 30;
v = 20;
x = 30;
};
section = {
H = -18;
};
seven = {
degree = 40;
period = -60;
};
space = {
florin = 0;
quotedblleft = 0;
};
t = {
a = -10;
d = -10;
ellipsis = -10;
h = -10;
i = -40;
o = -10;
y = -40;
};
three = {
degree = -10;
};
two = {
H = -10;
};
u = {
ellipsis = -10;
germandbls = 10;
u = -10;
v = -10;
w = -10;
x = 10;
y = -20;
};
v = {
f = 20;
f_i = 20;
g = -10;
n = 20;
quotedblright = 20;
t = 10;
w = 10;
};
w = {
m = 20;
u = 20;
v = 10;
x = 20;
};
x = {
c = -10;
e = -20;
ellipsis = -20;
g = -20;
h = -20;
i = -10;
l = -30;
n = -30;
o = -20;
p = -10;
v = -10;
w = -20;
y = -20;
};
y = {
b = -10;
g = -10;
h = -30;
j = 20;
k = -25;
l = -25;
parenright = -10;
q = -20;
};
yen = {
seven = 50;
};
z = {
c = -15;
ellipsis = -20;
g = -20;
w = -10;
};
};
};
metrics = (
{
type = ascender;
},
{
type = baseline;
},
{
type = descender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
}
);
properties = (
{
key = copyrights;
values = (
{
language = ENG;
value = "Copyright ⓒ 2020 by Minha Hyung. All rights reserved.";
}
);
},
{
key = manufacturerURL;
value = "https://jamo.works";
},
{
key = manufacturers;
values = (
{
language = ENG;
value = JAMO;
}
);
},
{
key = designers;
values = (
{
language = ENG;
value = "Minha Hyung";
},
{
language = KOR;
value = "형민하";
}
);
},
{
key = familyNames;
values = (
{
language = KOR;
value = "산하엽";
},
{
language = ENG;
value = Diphylleia;
}
);
},
{
key = postscriptFontName;
value = "Diphylleia-Regular";
},
{
key = postscriptFullName;
value = Diphylleia;
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
HH = "45";
HV = "61";
OH = "40";
OV = "69";
tH = "71";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
