(
A,
Aacute,
Acircumflex,
Adieresis,
Agrave,
Aring,
Atilde,
AE,
B,
C,
Ccedilla,
D,
E,
Eacute,
Ecircumflex,
Edieresis,
Egrave,
F,
G,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Igrave,
J,
K,
L,
M,
N,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Oslash,
Otilde,
OE,
P,
Q,
R,
S,
T,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
V,
W,
X,
Y,
Ydieresis,
Z,
a,
aacute,
acircumflex,
adieresis,
agrave,
aring,
atilde,
b,
c,
ccedilla,
d,
e,
eacute,
ecircumflex,
edieresis,
egrave,
f,
g,
h,
i,
iacute,
icircumflex,
idieresis,
igrave,
j,
k,
l,
m,
n,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
oslash,
otilde,
oe,
p,
q,
r,
s,
germandbls,
longs,
t,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
v,
w,
x,
y,
ydieresis,
z,
beta,
"kiyeokCompa-ko",
"ssangkiyeokCompa-ko",
"kiyeokSiosCompa-ko",
"nieunCompa-ko",
"nieunCieucCompa-ko",
"nieunHieuhCompa-ko",
"tikeutCompa-ko",
"ssangtikeutCompa-ko",
"rieulCompa-ko",
"rieulKiyeokCompa-ko",
"rieulMieumCompa-ko",
"rieulPieupCompa-ko",
"rieulSiosCompa-ko",
"rieulThieuthCompa-ko",
"rieulPhieuphCompa-ko",
"rieulHieuhCompa-ko",
"mieumCompa-ko",
"pieupCompa-ko",
"ssangpieupCompa-ko",
"pieupSiosCompa-ko",
"siosCompa-ko",
"ssangSiosCompa-ko",
"ieungCompa-ko",
"cieucCompa-ko",
"ssangcieucCompa-ko",
"chieuchCompa-ko",
"khieukhCompa-ko",
"thieuthCompa-ko",
"phieuphCompa-ko",
"hieuhCompa-ko",
"aCompa-ko",
"aeCompa-ko",
"yaCompa-ko",
"yaeCompa-ko",
"eoCompa-ko",
"eCompa-ko",
"yeoCompa-ko",
"yeCompa-ko",
"oCompa-ko",
"waCompa-ko",
"waeCompa-ko",
"oeCompa-ko",
"yoCompa-ko",
"uCompa-ko",
"weoCompa-ko",
"weCompa-ko",
"wiCompa-ko",
"yuCompa-ko",
"euCompa-ko",
"yiCompa-ko",
"ga-ko",
"gag-ko",
"gan-ko",
"gad-ko",
"gal-ko",
"galg-ko",
"galm-ko",
"galb-ko",
"gam-ko",
"gab-ko",
"gabs-ko",
"gas-ko",
"gass-ko",
"gang-ko",
"gaj-ko",
"gac-ko",
"gat-ko",
"gap-ko",
"gah-ko",
"gae-ko",
"gaeg-ko",
"gaen-ko",
"gaed-ko",
"gael-ko",
"gaem-ko",
"gaeb-ko",
"gaes-ko",
"gaess-ko",
"gaeng-ko",
"gya-ko",
"gyag-ko",
"gyan-ko",
"gyal-ko",
"gyas-ko",
"gyang-ko",
"gyae-ko",
"gyaen-ko",
"gyael-ko",
"gyaeb-ko",
"geo-ko",
"geog-ko",
"geon-ko",
"geod-ko",
"geol-ko",
"geolm-ko",
"geom-ko",
"geob-ko",
"geobs-ko",
"geos-ko",
"geoss-ko",
"geong-ko",
"geoj-ko",
"geot-ko",
"geop-ko",
"geoh-ko",
"ge-ko",
"geg-ko",
"gen-ko",
"gel-ko",
"gem-ko",
"geb-ko",
"ges-ko",
"gess-ko",
"geng-ko",
"gyeo-ko",
"gyeog-ko",
"gyeogg-ko",
"gyeon-ko",
"gyeod-ko",
"gyeol-ko",
"gyeolh-ko",
"gyeom-ko",
"gyeob-ko",
"gyeos-ko",
"gyeoss-ko",
"gyeong-ko",
"gyeoc-ko",
"gyeot-ko",
"gye-ko",
"gyen-ko",
"gyel-ko",
"gyeb-ko",
"gyes-ko",
"gyess-ko",
"go-ko",
"gog-ko",
"gon-ko",
"god-ko",
"gol-ko",
"golm-ko",
"gols-ko",
"golh-ko",
"gom-ko",
"gob-ko",
"gos-ko",
"gong-ko",
"goj-ko",
"got-ko",
"gwa-ko",
"gwag-ko",
"gwan-ko",
"gwal-ko",
"gwalm-ko",
"gwam-ko",
"gwab-ko",
"gwas-ko",
"gwass-ko",
"gwang-ko",
"gwaj-ko",
"gwae-ko",
"gwaen-ko",
"gwael-ko",
"gwaelm-ko",
"gwaeb-ko",
"gwaess-ko",
"gwaeng-ko",
"goe-ko",
"goeg-ko",
"goen-ko",
"goel-ko",
"goem-ko",
"goeb-ko",
"goes-ko",
"goeng-ko",
"gyo-ko",
"gyon-ko",
"gyol-ko",
"gyom-ko",
"gyob-ko",
"gyos-ko",
"gyong-ko",
"gu-ko",
"gug-ko",
"gun-ko",
"gud-ko",
"gul-ko",
"gulg-ko",
"gulm-ko",
"gulh-ko",
"gum-ko",
"gub-ko",
"gus-ko",
"gung-ko",
"guj-ko",
"guc-ko",
"gweo-ko",
"gweog-ko",
"gweon-ko",
"gweol-ko",
"gweoss-ko",
"gweong-ko",
"gwe-ko",
"gwes-ko",
"gwess-ko",
"gwi-ko",
"gwig-ko",
"gwin-ko",
"gwil-ko",
"gwim-ko",
"gwib-ko",
"gwis-ko",
"gwing-ko",
"gyu-ko",
"gyun-ko",
"gyul-ko",
"gyum-ko",
"gyub-ko",
"geu-ko",
"geug-ko",
"geun-ko",
"geud-ko",
"geul-ko",
"geulg-ko",
"geulm-ko",
"geulh-ko",
"geum-ko",
"geub-ko",
"geus-ko",
"geung-ko",
"geuc-ko",
"geut-ko",
"geuh-ko",
"gyi-ko",
"gyin-ko",
"gying-ko",
"gi-ko",
"gig-ko",
"gin-ko",
"gid-ko",
"gil-ko",
"gilm-ko",
"gim-ko",
"gib-ko",
"gis-ko",
"giss-ko",
"ging-ko",
"gij-ko",
"gip-ko",
"gga-ko",
"ggag-ko",
"ggagg-ko",
"ggan-ko",
"ggal-ko",
"ggalm-ko",
"ggam-ko",
"ggab-ko",
"ggas-ko",
"ggass-ko",
"ggang-ko",
"ggat-ko",
"ggae-ko",
"ggaeg-ko",
"ggaen-ko",
"ggaed-ko",
"ggael-ko",
"ggaem-ko",
"ggaeb-ko",
"ggaes-ko",
"ggaess-ko",
"ggaeng-ko",
"ggya-ko",
"ggyag-ko",
"ggyagg-ko",
"ggyal-ko",
"ggyalg-ko",
"ggyae-ko",
"ggyaen-ko",
"ggeo-ko",
"ggeog-ko",
"ggeogg-ko",
"ggeon-ko",
"ggeol-ko",
"ggeom-ko",
"ggeob-ko",
"ggeos-ko",
"ggeoss-ko",
"ggeong-ko",
"ggeoc-ko",
"ggeot-ko",
"gge-ko",
"ggeg-ko",
"ggen-ko",
"ggem-ko",
"gges-ko",
"ggeng-ko",
"ggyeo-ko",
"ggyeon-ko",
"ggyeol-ko",
"ggyeos-ko",
"ggyeoss-ko",
"ggyeong-ko",
"ggyeot-ko",
"ggye-ko",
"ggo-ko",
"ggog-ko",
"ggon-ko",
"ggonh-ko",
"ggod-ko",
"ggol-ko",
"ggom-ko",
"ggob-ko",
"ggos-ko",
"ggong-ko",
"ggoj-ko",
"ggoc-ko",
"ggot-ko",
"ggwa-ko",
"ggwag-ko",
"ggwan-ko",
"ggwal-ko",
"ggwass-ko",
"ggwang-ko",
"ggwae-ko",
"ggwaeg-ko",
"ggwaen-ko",
"ggwaess-ko",
"ggwaeng-ko",
"ggoe-ko",
"ggoen-ko",
"ggoel-ko",
"ggoem-ko",
"ggoeb-ko",
"ggoeng-ko",
"ggyo-ko",
"ggu-ko",
"ggug-ko",
"ggun-ko",
"ggul-ko",
"ggulh-ko",
"ggum-ko",
"ggub-ko",
"ggus-ko",
"ggung-ko",
"gguj-ko",
"gguc-ko",
"ggweo-ko",
"ggweon-ko",
"ggweol-ko",
"ggweoss-ko",
"ggweong-ko",
"ggwe-ko",
"ggweg-ko",
"ggwen-ko",
"ggwel-ko",
"ggwem-ko",
"ggweb-ko",
"ggwess-ko",
"ggwi-ko",
"ggwin-ko",
"ggwil-ko",
"ggwim-ko",
"ggwib-ko",
"ggyu-ko",
"ggyul-ko",
"ggyuss-ko",
"ggeu-ko",
"ggeug-ko",
"ggeun-ko",
"ggeunh-ko",
"ggeul-ko",
"ggeulm-ko",
"ggeulh-ko",
"ggeum-ko",
"ggeub-ko",
"ggeus-ko",
"ggeung-ko",
"ggeut-ko",
"ggyi-ko",
"ggyin-ko",
"ggi-ko",
"ggig-ko",
"ggin-ko",
"ggil-ko",
"ggim-ko",
"ggib-ko",
"ggis-ko",
"ggiss-ko",
"gging-ko",
"na-ko",
"nag-ko",
"nagg-ko",
"nan-ko",
"nad-ko",
"nal-ko",
"nalg-ko",
"nalm-ko",
"nam-ko",
"nab-ko",
"nas-ko",
"nass-ko",
"nang-ko",
"naj-ko",
"nac-ko",
"nat-ko",
"nah-ko",
"nae-ko",
"naeg-ko",
"naen-ko",
"naed-ko",
"nael-ko",
"naem-ko",
"naeb-ko",
"naes-ko",
"naess-ko",
"naeng-ko",
"nya-ko",
"nyag-ko",
"nyan-ko",
"nyad-ko",
"nyal-ko",
"nyam-ko",
"nyab-ko",
"nyas-ko",
"nyang-ko",
"nyae-ko",
"neo-ko",
"neog-ko",
"neogs-ko",
"neon-ko",
"neod-ko",
"neol-ko",
"neolg-ko",
"neolm-ko",
"neolb-ko",
"neom-ko",
"neob-ko",
"neos-ko",
"neoss-ko",
"neong-ko",
"neop-ko",
"neoh-ko",
"ne-ko",
"neg-ko",
"nen-ko",
"ned-ko",
"nel-ko",
"nem-ko",
"neb-ko",
"nes-ko",
"ness-ko",
"neng-ko",
"nep-ko",
"nyeo-ko",
"nyeog-ko",
"nyeon-ko",
"nyeod-ko",
"nyeol-ko",
"nyeom-ko",
"nyeob-ko",
"nyeoss-ko",
"nyeong-ko",
"nyeok-ko",
"nye-ko",
"nyen-ko",
"nyel-ko",
"nyeng-ko",
"no-ko",
"nog-ko",
"non-ko",
"nol-ko",
"nolg-ko",
"nolm-ko",
"nom-ko",
"nob-ko",
"nos-ko",
"nong-ko",
"not-ko",
"nop-ko",
"noh-ko",
"nwa-ko",
"nwan-ko",
"nwal-ko",
"nwab-ko",
"nwass-ko",
"nwae-ko",
"nwaess-ko",
"noe-ko",
"noeg-ko",
"noen-ko",
"noel-ko",
"noem-ko",
"noeb-ko",
"noes-ko",
"noeng-ko",
"nyo-ko",
"nyog-ko",
"nyon-ko",
"nyol-ko",
"nyom-ko",
"nyob-ko",
"nyos-ko",
"nyong-ko",
"nu-ko",
"nug-ko",
"nun-ko",
"nud-ko",
"nul-ko",
"nulg-ko",
"num-ko",
"nub-ko",
"nus-ko",
"nung-ko",
"nut-ko",
"nweo-ko",
"nweoss-ko",
"nwe-ko",
"nwi-ko",
"nwin-ko",
"nwil-ko",
"nwim-ko",
"nwib-ko",
"nyu-ko",
"nyug-ko",
"nyud-ko",
"nyul-ko",
"nyum-ko",
"nyub-ko",
"nyung-ko",
"neu-ko",
"neug-ko",
"neun-ko",
"neud-ko",
"neul-ko",
"neulg-ko",
"neulm-ko",
"neum-ko",
"neub-ko",
"neus-ko",
"neung-ko",
"neuj-ko",
"neuc-ko",
"neup-ko",
"neuh-ko",
"nyi-ko",
"nyin-ko",
"nyil-ko",
"nyim-ko",
"nyis-ko",
"nying-ko",
"ni-ko",
"nig-ko",
"nin-ko",
"nid-ko",
"nil-ko",
"nilm-ko",
"nim-ko",
"nib-ko",
"nis-ko",
"ning-ko",
"nij-ko",
"nik-ko",
"nip-ko",
"da-ko",
"dag-ko",
"dagg-ko",
"dan-ko",
"dad-ko",
"dal-ko",
"dalg-ko",
"dalm-ko",
"dalb-ko",
"dalh-ko",
"dam-ko",
"dab-ko",
"das-ko",
"dass-ko",
"dang-ko",
"daj-ko",
"dac-ko",
"dat-ko",
"dah-ko",
"dae-ko",
"daeg-ko",
"daen-ko",
"dael-ko",
"daem-ko",
"daeb-ko",
"daes-ko",
"daess-ko",
"daeng-ko",
"daej-ko",
"dya-ko",
"dyan-ko",
"dyang-ko",
"deo-ko",
"deog-ko",
"deogg-ko",
"deon-ko",
"deod-ko",
"deol-ko",
"deolm-ko",
"deolb-ko",
"deom-ko",
"deob-ko",
"deos-ko",
"deong-ko",
"deoc-ko",
"deop-ko",
"deoh-ko",
"de-ko",
"deg-ko",
"den-ko",
"del-ko",
"dem-ko",
"deb-ko",
"des-ko",
"dess-ko",
"deng-ko",
"dyeo-ko",
"dyeon-ko",
"dyeol-ko",
"dyeoss-ko",
"dyeong-ko",
"dye-ko",
"dyen-ko",
"do-ko",
"dog-ko",
"don-ko",
"dod-ko",
"dol-ko",
"dolm-ko",
"dols-ko",
"dom-ko",
"dob-ko",
"dos-ko",
"dong-ko",
"doc-ko",
"dot-ko",
"dwa-ko",
"dwan-ko",
"dwal-ko",
"dwae-ko",
"dwaes-ko",
"dwaess-ko",
"doe-ko",
"doen-ko",
"doel-ko",
"doem-ko",
"doeb-ko",
"does-ko",
"doess-ko",
"doeng-ko",
"dyo-ko",
"du-ko",
"dug-ko",
"dun-ko",
"dud-ko",
"dul-ko",
"dulm-ko",
"dum-ko",
"dub-ko",
"dus-ko",
"dung-ko",
"dweo-ko",
"dweoss-ko",
"dwe-ko",
"dweb-ko",
"dweng-ko",
"dwi-ko",
"dwin-ko",
"dwil-ko",
"dwib-ko",
"dwis-ko",
"dwiss-ko",
"dwing-ko",
"dyu-ko",
"dyun-ko",
"dyul-ko",
"dyum-ko",
"dyung-ko",
"deu-ko",
"deug-ko",
"deun-ko",
"deud-ko",
"deul-ko",
"deulg-ko",
"deulm-ko",
"deulb-ko",
"deum-ko",
"deub-ko",
"deus-ko",
"deung-ko",
"dyi-ko",
"dyin-ko",
"dyil-ko",
"di-ko",
"dig-ko",
"din-ko",
"did-ko",
"dil-ko",
"dim-ko",
"dib-ko",
"dis-ko",
"diss-ko",
"ding-ko",
"dij-ko",
"dic-ko",
"dip-ko",
"dda-ko",
"ddag-ko",
"ddagg-ko",
"ddan-ko",
"ddad-ko",
"ddal-ko",
"ddam-ko",
"ddab-ko",
"ddas-ko",
"ddass-ko",
"ddang-ko",
"ddah-ko",
"ddae-ko",
"ddaeg-ko",
"ddaen-ko",
"ddael-ko",
"ddaem-ko",
"ddaeb-ko",
"ddaes-ko",
"ddaess-ko",
"ddaeng-ko",
"ddyae-ko",
"ddyaen-ko",
"ddyaem-ko",
"ddyaeng-ko",
"ddeo-ko",
"ddeog-ko",
"ddeon-ko",
"ddeol-ko",
"ddeolm-ko",
"ddeolb-ko",
"ddeom-ko",
"ddeob-ko",
"ddeos-ko",
"ddeoss-ko",
"ddeong-ko",
"ddeoh-ko",
"dde-ko",
"ddeg-ko",
"dden-ko",
"ddel-ko",
"ddem-ko",
"ddeb-ko",
"ddes-ko",
"ddess-ko",
"ddeng-ko",
"ddyeo-ko",
"ddyeoss-ko",
"ddo-ko",
"ddog-ko",
"ddon-ko",
"ddol-ko",
"ddom-ko",
"ddob-ko",
"ddos-ko",
"ddong-ko",
"ddwa-ko",
"ddwag-ko",
"ddwan-ko",
"ddwal-ko",
"ddwah-ko",
"ddwae-ko",
"ddwaess-ko",
"ddoe-ko",
"ddoen-ko",
"ddu-ko",
"ddug-ko",
"ddun-ko",
"ddul-ko",
"ddulb-ko",
"ddulh-ko",
"ddum-ko",
"ddus-ko",
"ddung-ko",
"ddweo-ko",
"ddwe-ko",
"ddwi-ko",
"ddwin-ko",
"ddwil-ko",
"ddwim-ko",
"ddwib-ko",
"ddwiss-ko",
"ddwing-ko",
"ddyu-ko",
"ddeu-ko",
"ddeug-ko",
"ddeun-ko",
"ddeud-ko",
"ddeul-ko",
"ddeulb-ko",
"ddeum-ko",
"ddeub-ko",
"ddeus-ko",
"ddeung-ko",
"ddeuj-ko",
"ddeuh-ko",
"ddyi-ko",
"ddyin-ko",
"ddyil-ko",
"ddyim-ko",
"ddyib-ko",
"ddi-ko",
"ddig-ko",
"ddin-ko",
"ddil-ko",
"ddim-ko",
"ddib-ko",
"ddis-ko",
"dding-ko",
"ra-ko",
"rag-ko",
"ran-ko",
"rad-ko",
"ral-ko",
"ram-ko",
"rab-ko",
"ras-ko",
"rass-ko",
"rang-ko",
"raj-ko",
"rap-ko",
"rah-ko",
"rae-ko",
"raeg-ko",
"raen-ko",
"raed-ko",
"rael-ko",
"raem-ko",
"raeb-ko",
"raes-ko",
"raess-ko",
"raeng-ko",
"raek-ko",
"raep-ko",
"rya-ko",
"ryag-ko",
"ryan-ko",
"ryab-ko",
"ryas-ko",
"ryang-ko",
"ryae-ko",
"ryaen-ko",
"reo-ko",
"reog-ko",
"reon-ko",
"reonh-ko",
"reod-ko",
"reol-ko",
"reom-ko",
"reob-ko",
"reos-ko",
"reoss-ko",
"reong-ko",
"reoh-ko",
"re-ko",
"reg-ko",
"ren-ko",
"rel-ko",
"rem-ko",
"reb-ko",
"res-ko",
"ress-ko",
"reng-ko",
"ryeo-ko",
"ryeog-ko",
"ryeon-ko",
"ryeod-ko",
"ryeol-ko",
"ryeom-ko",
"ryeob-ko",
"ryeos-ko",
"ryeoss-ko",
"ryeong-ko",
"rye-ko",
"ryen-ko",
"ryeb-ko",
"ryes-ko",
"ro-ko",
"rog-ko",
"ron-ko",
"rod-ko",
"rol-ko",
"rom-ko",
"rob-ko",
"ros-ko",
"rong-ko",
"rwa-ko",
"rwag-ko",
"rwan-ko",
"rwang-ko",
"rwae-ko",
"rwaess-ko",
"roe-ko",
"roen-ko",
"roel-ko",
"roem-ko",
"roeb-ko",
"roes-ko",
"roeng-ko",
"ryo-ko",
"ryon-ko",
"ryol-ko",
"ryob-ko",
"ryos-ko",
"ryong-ko",
"ru-ko",
"rug-ko",
"run-ko",
"rul-ko",
"rum-ko",
"rub-ko",
"rus-ko",
"rung-ko",
"rweo-ko",
"rweon-ko",
"rweoss-ko",
"rwe-ko",
"rwen-ko",
"rwi-ko",
"rwig-ko",
"rwin-ko",
"rwil-ko",
"rwim-ko",
"rwis-ko",
"rwing-ko",
"ryu-ko",
"ryug-ko",
"ryun-ko",
"ryul-ko",
"ryum-ko",
"ryub-ko",
"ryus-ko",
"ryung-ko",
"reu-ko",
"reug-ko",
"reun-ko",
"reul-ko",
"reum-ko",
"reub-ko",
"reus-ko",
"reung-ko",
"reuj-ko",
"reut-ko",
"reup-ko",
"reuh-ko",
"ryi-ko",
"ryin-ko",
"ri-ko",
"rig-ko",
"rin-ko",
"ril-ko",
"rim-ko",
"rib-ko",
"ris-ko",
"riss-ko",
"ring-ko",
"rip-ko",
"ma-ko",
"mag-ko",
"man-ko",
"manh-ko",
"mad-ko",
"mal-ko",
"malg-ko",
"malm-ko",
"mals-ko",
"mam-ko",
"mab-ko",
"mas-ko",
"mass-ko",
"mang-ko",
"maj-ko",
"mac-ko",
"mat-ko",
"map-ko",
"mah-ko",
"mae-ko",
"maeg-ko",
"maen-ko",
"maed-ko",
"mael-ko",
"maem-ko",
"maeb-ko",
"maes-ko",
"maess-ko",
"maeng-ko",
"maej-ko",
"maec-ko",
"maet-ko",
"mya-ko",
"myag-ko",
"myan-ko",
"myal-ko",
"myam-ko",
"myang-ko",
"meo-ko",
"meog-ko",
"meon-ko",
"meol-ko",
"meolm-ko",
"meom-ko",
"meob-ko",
"meos-ko",
"meoss-ko",
"meong-ko",
"meoj-ko",
"meoh-ko",
"me-ko",
"meg-ko",
"men-ko",
"med-ko",
"mel-ko",
"mem-ko",
"meb-ko",
"mes-ko",
"mess-ko",
"meng-ko",
"mec-ko",
"myeo-ko",
"myeog-ko",
"myeon-ko",
"myeod-ko",
"myeol-ko",
"myeos-ko",
"myeoss-ko",
"myeong-ko",
"myeoc-ko",
"mye-ko",
"myen-ko",
"mo-ko",
"mog-ko",
"mogs-ko",
"mon-ko",
"mod-ko",
"mol-ko",
"molg-ko",
"molm-ko",
"mom-ko",
"mob-ko",
"mos-ko",
"mong-ko",
"mwa-ko",
"mwan-ko",
"mwass-ko",
"mwang-ko",
"mwae-ko",
"mwaess-ko",
"moe-ko",
"moen-ko",
"moel-ko",
"moem-ko",
"moeb-ko",
"moes-ko",
"moeng-ko",
"myo-ko",
"myon-ko",
"myol-ko",
"myob-ko",
"myos-ko",
"mu-ko",
"mug-ko",
"mugg-ko",
"mun-ko",
"mud-ko",
"mul-ko",
"mulg-ko",
"mulm-ko",
"mum-ko",
"mub-ko",
"mus-ko",
"mung-ko",
"mut-ko",
"muh-ko",
"mweo-ko",
"mweon-ko",
"mweol-ko",
"mweob-ko",
"mweos-ko",
"mweoss-ko",
"mweong-ko",
"mwe-ko",
"mwi-ko",
"mwigg-ko",
"mwin-ko",
"mwil-ko",
"mwib-ko",
"mwis-ko",
"myu-ko",
"myun-ko",
"myul-ko",
"myum-ko",
"myus-ko",
"myung-ko",
"meu-ko",
"meug-ko",
"meun-ko",
"meul-ko",
"meum-ko",
"meub-ko",
"meus-ko",
"meung-ko",
"myi-ko",
"myin-ko",
"myib-ko",
"mying-ko",
"mi-ko",
"mig-ko",
"min-ko",
"mid-ko",
"mil-ko",
"milm-ko",
"mim-ko",
"mib-ko",
"mis-ko",
"miss-ko",
"ming-ko",
"mic-ko",
"mit-ko",
"ba-ko",
"bag-ko",
"bagg-ko",
"bags-ko",
"ban-ko",
"bad-ko",
"bal-ko",
"balg-ko",
"balm-ko",
"balb-ko",
"balh-ko",
"bam-ko",
"bab-ko",
"bas-ko",
"bass-ko",
"bang-ko",
"bac-ko",
"bat-ko",
"bae-ko",
"baeg-ko",
"baegg-ko",
"baen-ko",
"baed-ko",
"bael-ko",
"baem-ko",
"baeb-ko",
"baes-ko",
"baess-ko",
"baeng-ko",
"baet-ko",
"bya-ko",
"byag-ko",
"byan-ko",
"byam-ko",
"byab-ko",
"byas-ko",
"byang-ko",
"beo-ko",
"beog-ko",
"beon-ko",
"beod-ko",
"beol-ko",
"beolm-ko",
"beom-ko",
"beob-ko",
"beos-ko",
"beoss-ko",
"beong-ko",
"beoj-ko",
"beot-ko",
"beoh-ko",
"be-ko",
"beg-ko",
"ben-ko",
"bed-ko",
"bel-ko",
"bem-ko",
"beb-ko",
"bes-ko",
"bess-ko",
"beng-ko",
"byeo-ko",
"byeog-ko",
"byeon-ko",
"byeol-ko",
"byeom-ko",
"byeob-ko",
"byeos-ko",
"byeoss-ko",
"byeong-ko",
"byeoc-ko",
"byeot-ko",
"bye-ko",
"byen-ko",
"bo-ko",
"bog-ko",
"bogg-ko",
"bon-ko",
"bod-ko",
"bol-ko",
"bolg-ko",
"bolm-ko",
"bolb-ko",
"bom-ko",
"bob-ko",
"bos-ko",
"bong-ko",
"bwa-ko",
"bwan-ko",
"bwas-ko",
"bwass-ko",
"bwang-ko",
"bwae-ko",
"bwaess-ko",
"boe-ko",
"boeg-ko",
"boen-ko",
"boel-ko",
"boem-ko",
"boeb-ko",
"boess-ko",
"byo-ko",
"byon-ko",
"byom-ko",
"bu-ko",
"bug-ko",
"bun-ko",
"bud-ko",
"bul-ko",
"bulg-ko",
"bulm-ko",
"bum-ko",
"bub-ko",
"bus-ko",
"buss-ko",
"bung-ko",
"but-ko",
"bup-ko",
"bweo-ko",
"bweog-ko",
"bweon-ko",
"bweol-ko",
"bweob-ko",
"bweoss-ko",
"bweok-ko",
"bwe-ko",
"bwelg-ko",
"bwi-ko",
"bwig-ko",
"bwin-ko",
"bwil-ko",
"bwib-ko",
"bwing-ko",
"byu-ko",
"byun-ko",
"byul-ko",
"byum-ko",
"byub-ko",
"byus-ko",
"byung-ko",
"beu-ko",
"beug-ko",
"beun-ko",
"beul-ko",
"beulg-ko",
"beum-ko",
"beub-ko",
"beus-ko",
"beung-ko",
"byi-ko",
"byig-ko",
"byil-ko",
"bying-ko",
"bi-ko",
"big-ko",
"bin-ko",
"bid-ko",
"bil-ko",
"bilm-ko",
"bim-ko",
"bib-ko",
"bis-ko",
"biss-ko",
"bing-ko",
"bij-ko",
"bic-ko",
"bba-ko",
"bbag-ko",
"bban-ko",
"bbad-ko",
"bbal-ko",
"bbalg-ko",
"bbalm-ko",
"bbam-ko",
"bbab-ko",
"bbas-ko",
"bbass-ko",
"bbang-ko",
"bbah-ko",
"bbae-ko",
"bbaeg-ko",
"bbaegg-ko",
"bbaen-ko",
"bbael-ko",
"bbaem-ko",
"bbaeb-ko",
"bbaes-ko",
"bbaess-ko",
"bbaeng-ko",
"bbya-ko",
"bbyag-ko",
"bbyan-ko",
"bbyam-ko",
"bbeo-ko",
"bbeog-ko",
"bbeon-ko",
"bbeod-ko",
"bbeol-ko",
"bbeolg-ko",
"bbeom-ko",
"bbeos-ko",
"bbeoss-ko",
"bbeong-ko",
"bbe-ko",
"bben-ko",
"bbeng-ko",
"bbyeo-ko",
"bbyeog-ko",
"bbyeon-ko",
"bbyeom-ko",
"bbyeob-ko",
"bbyeos-ko",
"bbyeoss-ko",
"bbyeong-ko",
"bbo-ko",
"bbog-ko",
"bbon-ko",
"bbol-ko",
"bbom-ko",
"bbob-ko",
"bbos-ko",
"bbong-ko",
"bboe-ko",
"bbyo-ko",
"bbyog-ko",
"bbyong-ko",
"bbu-ko",
"bbug-ko",
"bbun-ko",
"bbul-ko",
"bbulg-ko",
"bbum-ko",
"bbub-ko",
"bbus-ko",
"bbung-ko",
"bbwi-ko",
"bbyu-ko",
"bbyung-ko",
"bbeu-ko",
"bbeun-ko",
"bbeul-ko",
"bbeum-ko",
"bbeub-ko",
"bbeung-ko",
"bbi-ko",
"bbig-ko",
"bbin-ko",
"bbil-ko",
"bbim-ko",
"bbib-ko",
"bbis-ko",
"bbing-ko",
"sa-ko",
"sag-ko",
"sags-ko",
"san-ko",
"sad-ko",
"sal-ko",
"salg-ko",
"salm-ko",
"sam-ko",
"sab-ko",
"sas-ko",
"sass-ko",
"sang-ko",
"sat-ko",
"sap-ko",
"sae-ko",
"saeg-ko",
"saen-ko",
"saed-ko",
"sael-ko",
"saem-ko",
"saeb-ko",
"saes-ko",
"saess-ko",
"saeng-ko",
"sya-ko",
"syag-ko",
"syan-ko",
"syal-ko",
"syam-ko",
"syab-ko",
"syas-ko",
"syang-ko",
"syap-ko",
"syae-ko",
"syaeg-ko",
"syaen-ko",
"syael-ko",
"syaem-ko",
"syaeng-ko",
"seo-ko",
"seog-ko",
"seogg-ko",
"seogs-ko",
"seon-ko",
"seod-ko",
"seol-ko",
"seolm-ko",
"seolb-ko",
"seom-ko",
"seob-ko",
"seos-ko",
"seoss-ko",
"seong-ko",
"seop-ko",
"se-ko",
"seg-ko",
"sen-ko",
"sed-ko",
"sel-ko",
"sem-ko",
"seb-ko",
"ses-ko",
"sess-ko",
"seng-ko",
"set-ko",
"syeo-ko",
"syeog-ko",
"syeon-ko",
"syeol-ko",
"syeom-ko",
"syeob-ko",
"syeos-ko",
"syeoss-ko",
"syeong-ko",
"sye-ko",
"syeg-ko",
"syen-ko",
"syel-ko",
"syem-ko",
"syeb-ko",
"syeng-ko",
"so-ko",
"sog-ko",
"sogg-ko",
"son-ko",
"sod-ko",
"sol-ko",
"solm-ko",
"som-ko",
"sob-ko",
"sos-ko",
"song-ko",
"sot-ko",
"swa-ko",
"swag-ko",
"swan-ko",
"swal-ko",
"swang-ko",
"swae-ko",
"swaen-ko",
"swael-ko",
"swaem-ko",
"swaes-ko",
"swaess-ko",
"soe-ko",
"soen-ko",
"soel-ko",
"soem-ko",
"soeb-ko",
"soes-ko",
"soess-ko",
"soeng-ko",
"syo-ko",
"syog-ko",
"syon-ko",
"syol-ko",
"syom-ko",
"syob-ko",
"syos-ko",
"syong-ko",
"syop-ko",
"su-ko",
"sug-ko",
"sun-ko",
"sud-ko",
"sul-ko",
"sum-ko",
"sub-ko",
"sus-ko",
"sung-ko",
"suc-ko",
"sut-ko",
"sup-ko",
"sweo-ko",
"sweoss-ko",
"swe-ko",
"sweg-ko",
"swen-ko",
"swel-ko",
"swem-ko",
"sweng-ko",
"swi-ko",
"swig-ko",
"swin-ko",
"swil-ko",
"swim-ko",
"swib-ko",
"swis-ko",
"swing-ko",
"syu-ko",
"syug-ko",
"syun-ko",
"syul-ko",
"syum-ko",
"syus-ko",
"syung-ko",
"seu-ko",
"seug-ko",
"seun-ko",
"seud-ko",
"seul-ko",
"seulg-ko",
"seulp-ko",
"seum-ko",
"seub-ko",
"seus-ko",
"seung-ko",
"syi-ko",
"syig-ko",
"si-ko",
"sig-ko",
"sin-ko",
"sid-ko",
"sil-ko",
"silg-ko",
"silh-ko",
"sim-ko",
"sib-ko",
"sis-ko",
"siss-ko",
"sing-ko",
"sic-ko",
"sip-ko",
"ssa-ko",
"ssag-ko",
"ssags-ko",
"ssan-ko",
"ssad-ko",
"ssal-ko",
"ssam-ko",
"ssab-ko",
"ssass-ko",
"ssang-ko",
"ssah-ko",
"ssae-ko",
"ssaeg-ko",
"ssaen-ko",
"ssael-ko",
"ssaem-ko",
"ssaeb-ko",
"ssaess-ko",
"ssaeng-ko",
"ssya-ko",
"ssyag-ko",
"ssyang-ko",
"sseo-ko",
"sseog-ko",
"sseon-ko",
"sseol-ko",
"sseolm-ko",
"sseom-ko",
"sseob-ko",
"sseoss-ko",
"sseong-ko",
"sseop-ko",
"sse-ko",
"sseg-ko",
"ssen-ko",
"ssel-ko",
"ssem-ko",
"ssyeo-ko",
"ssyeon-ko",
"ssyeong-ko",
"ssye-ko",
"ssyen-ko",
"sso-ko",
"ssog-ko",
"ssogg-ko",
"sson-ko",
"ssod-ko",
"ssol-ko",
"ssolm-ko",
"ssom-ko",
"ssob-ko",
"ssong-ko",
"sswa-ko",
"sswag-ko",
"sswan-ko",
"sswal-ko",
"sswass-ko",
"sswac-ko",
"sswae-ko",
"sswaess-ko",
"ssoe-ko",
"ssoen-ko",
"ssoel-ko",
"ssoem-ko",
"ssoeb-ko",
"ssoess-ko",
"ssyo-ko",
"ssyong-ko",
"ssu-ko",
"ssug-ko",
"ssun-ko",
"ssul-ko",
"ssum-ko",
"ssub-ko",
"ssung-ko",
"ssweo-ko",
"ssweom-ko",
"ssweoss-ko",
"sswe-ko",
"sswen-ko",
"sswem-ko",
"sswi-ko",
"sswin-ko",
"ssyu-ko",
"ssyung-ko",
"sseu-ko",
"sseug-ko",
"sseun-ko",
"sseul-ko",
"sseulm-ko",
"sseulh-ko",
"sseum-ko",
"sseub-ko",
"sseus-ko",
"ssyi-ko",
"ssyin-ko",
"ssyil-ko",
"ssyim-ko",
"ssi-ko",
"ssig-ko",
"ssigs-ko",
"ssin-ko",
"ssil-ko",
"ssim-ko",
"ssib-ko",
"ssis-ko",
"ssiss-ko",
"ssing-ko",
"ssic-ko",
"a-ko",
"ag-ko",
"an-ko",
"anj-ko",
"anh-ko",
"ad-ko",
"al-ko",
"alg-ko",
"alm-ko",
"alb-ko",
"alh-ko",
"am-ko",
"ab-ko",
"as-ko",
"ass-ko",
"ang-ko",
"ak-ko",
"at-ko",
"ap-ko",
"ae-ko",
"aeg-ko",
"aen-ko",
"ael-ko",
"aem-ko",
"aeb-ko",
"aes-ko",
"aess-ko",
"aeng-ko",
"ya-ko",
"yag-ko",
"yan-ko",
"yal-ko",
"yalb-ko",
"yam-ko",
"yab-ko",
"yas-ko",
"yass-ko",
"yang-ko",
"yat-ko",
"yah-ko",
"yae-ko",
"yaen-ko",
"yael-ko",
"yaeb-ko",
"yaess-ko",
"yaeng-ko",
"eo-ko",
"eog-ko",
"eon-ko",
"eonj-ko",
"eonh-ko",
"eod-ko",
"eol-ko",
"eolg-ko",
"eolm-ko",
"eom-ko",
"eob-ko",
"eobs-ko",
"eos-ko",
"eoss-ko",
"eong-ko",
"eoj-ko",
"eok-ko",
"eop-ko",
"eoh-ko",
"e-ko",
"eg-ko",
"en-ko",
"el-ko",
"em-ko",
"eb-ko",
"es-ko",
"ess-ko",
"eng-ko",
"yeo-ko",
"yeog-ko",
"yeogg-ko",
"yeon-ko",
"yeol-ko",
"yeolm-ko",
"yeolb-ko",
"yeom-ko",
"yeob-ko",
"yeobs-ko",
"yeos-ko",
"yeoss-ko",
"yeong-ko",
"yeot-ko",
"yeop-ko",
"yeoh-ko",
"ye-ko",
"yen-ko",
"yed-ko",
"yel-ko",
"yem-ko",
"yeb-ko",
"yes-ko",
"yess-ko",
"yeng-ko",
"o-ko",
"og-ko",
"ogg-ko",
"on-ko",
"od-ko",
"ol-ko",
"olg-ko",
"olm-ko",
"olb-ko",
"ols-ko",
"olh-ko",
"om-ko",
"ob-ko",
"os-ko",
"ong-ko",
"oc-ko",
"wa-ko",
"wag-ko",
"wan-ko",
"wal-ko",
"walp-ko",
"wam-ko",
"wab-ko",
"was-ko",
"wass-ko",
"wang-ko",
"wak-ko",
"wae-ko",
"waeg-ko",
"waen-ko",
"waem-ko",
"waeb-ko",
"waes-ko",
"waess-ko",
"waeng-ko",
"oe-ko",
"oeg-ko",
"oen-ko",
"oel-ko",
"oem-ko",
"oeb-ko",
"oes-ko",
"oess-ko",
"oeng-ko",
"yo-ko",
"yog-ko",
"yon-ko",
"yol-ko",
"yom-ko",
"yob-ko",
"yos-ko",
"yong-ko",
"u-ko",
"ug-ko",
"un-ko",
"ud-ko",
"ul-ko",
"ulg-ko",
"ulm-ko",
"um-ko",
"ub-ko",
"ubs-ko",
"us-ko",
"ung-ko",
"uc-ko",
"weo-ko",
"weog-ko",
"weon-ko",
"weol-ko",
"weom-ko",
"weob-ko",
"weos-ko",
"weoss-ko",
"weong-ko",
"we-ko",
"weg-ko",
"wen-ko",
"wel-ko",
"wem-ko",
"web-ko",
"wes-ko",
"weng-ko",
"wi-ko",
"wig-ko",
"win-ko",
"wil-ko",
"wim-ko",
"wib-ko",
"wis-ko",
"wiss-ko",
"wing-ko",
"yu-ko",
"yug-ko",
"yun-ko",
"yul-ko",
"yum-ko",
"yub-ko",
"yus-ko",
"yung-ko",
"yuc-ko",
"eu-ko",
"eug-ko",
"eugg-ko",
"eun-ko",
"eud-ko",
"eul-ko",
"eulb-ko",
"eulp-ko",
"eum-ko",
"eub-ko",
"eubs-ko",
"eus-ko",
"eung-ko",
"euj-ko",
"euc-ko",
"euk-ko",
"eut-ko",
"eup-ko",
"euh-ko",
"yi-ko",
"yin-ko",
"yil-ko",
"yim-ko",
"yib-ko",
"yis-ko",
"yiss-ko",
"ying-ko",
"i-ko",
"ig-ko",
"in-ko",
"id-ko",
"il-ko",
"ilg-ko",
"ilm-ko",
"ilh-ko",
"im-ko",
"ib-ko",
"is-ko",
"iss-ko",
"ing-ko",
"ij-ko",
"ik-ko",
"it-ko",
"ip-ko",
"ja-ko",
"jag-ko",
"jan-ko",
"janh-ko",
"jad-ko",
"jal-ko",
"jalm-ko",
"jam-ko",
"jab-ko",
"jas-ko",
"jass-ko",
"jang-ko",
"jaj-ko",
"jae-ko",
"jaeg-ko",
"jaen-ko",
"jael-ko",
"jaem-ko",
"jaeb-ko",
"jaes-ko",
"jaess-ko",
"jaeng-ko",
"jya-ko",
"jyag-ko",
"jyan-ko",
"jyanh-ko",
"jyal-ko",
"jyam-ko",
"jyang-ko",
"jyae-ko",
"jyaen-ko",
"jyael-ko",
"jyaeb-ko",
"jeo-ko",
"jeog-ko",
"jeogg-ko",
"jeon-ko",
"jeod-ko",
"jeol-ko",
"jeolg-ko",
"jeolm-ko",
"jeolb-ko",
"jeom-ko",
"jeob-ko",
"jeos-ko",
"jeoss-ko",
"jeong-ko",
"jeoj-ko",
"je-ko",
"jeg-ko",
"jen-ko",
"jel-ko",
"jem-ko",
"jeb-ko",
"jes-ko",
"jeng-ko",
"jyeo-ko",
"jyeog-ko",
"jyeon-ko",
"jyeol-ko",
"jyeolm-ko",
"jyeom-ko",
"jyeob-ko",
"jyeos-ko",
"jyeoss-ko",
"jyeong-ko",
"jye-ko",
"jo-ko",
"jog-ko",
"jon-ko",
"jol-ko",
"jolm-ko",
"jom-ko",
"job-ko",
"jos-ko",
"jong-ko",
"joj-ko",
"joc-ko",
"joh-ko",
"jwa-ko",
"jwag-ko",
"jwan-ko",
"jwal-ko",
"jwab-ko",
"jwas-ko",
"jwang-ko",
"jwap-ko",
"jwae-ko",
"jwaen-ko",
"jwaess-ko",
"jwaeng-ko",
"joe-ko",
"joeg-ko",
"joen-ko",
"joel-ko",
"joem-ko",
"joeb-ko",
"joes-ko",
"joeng-ko",
"jyo-ko",
"jyog-ko",
"jyon-ko",
"jyong-ko",
"ju-ko",
"jug-ko",
"jun-ko",
"jul-ko",
"julg-ko",
"julm-ko",
"jum-ko",
"jub-ko",
"jus-ko",
"jung-ko",
"jweo-ko",
"jweoss-ko",
"jwe-ko",
"jwi-ko",
"jwig-ko",
"jwin-ko",
"jwil-ko",
"jwim-ko",
"jwib-ko",
"jwis-ko",
"jyu-ko",
"jyug-ko",
"jyun-ko",
"jyul-ko",
"jyum-ko",
"jyung-ko",
"jeu-ko",
"jeug-ko",
"jeun-ko",
"jeul-ko",
"jeulm-ko",
"jeum-ko",
"jeub-ko",
"jeus-ko",
"jeung-ko",
"jyi-ko",
"ji-ko",
"jig-ko",
"jin-ko",
"jid-ko",
"jil-ko",
"jilm-ko",
"jim-ko",
"jib-ko",
"jis-ko",
"jiss-ko",
"jing-ko",
"jij-ko",
"jic-ko",
"jit-ko",
"jip-ko",
"jja-ko",
"jjag-ko",
"jjan-ko",
"jjanh-ko",
"jjad-ko",
"jjal-ko",
"jjalb-ko",
"jjam-ko",
"jjab-ko",
"jjas-ko",
"jjass-ko",
"jjang-ko",
"jjaj-ko",
"jjae-ko",
"jjaeg-ko",
"jjaen-ko",
"jjael-ko",
"jjaem-ko",
"jjaeb-ko",
"jjaes-ko",
"jjaess-ko",
"jjaeng-ko",
"jjya-ko",
"jjyan-ko",
"jjyam-ko",
"jjyang-ko",
"jjyae-ko",
"jjeo-ko",
"jjeog-ko",
"jjeon-ko",
"jjeol-ko",
"jjeom-ko",
"jjeob-ko",
"jjeos-ko",
"jjeoss-ko",
"jjeong-ko",
"jje-ko",
"jjel-ko",
"jjeng-ko",
"jjyeo-ko",
"jjyeoss-ko",
"jjo-ko",
"jjog-ko",
"jjon-ko",
"jjod-ko",
"jjol-ko",
"jjom-ko",
"jjob-ko",
"jjos-ko",
"jjong-ko",
"jjoj-ko",
"jjoc-ko",
"jjwa-ko",
"jjwag-ko",
"jjwan-ko",
"jjwal-ko",
"jjwass-ko",
"jjwae-ko",
"jjwaess-ko",
"jjoe-ko",
"jjoen-ko",
"jjoel-ko",
"jjoem-ko",
"jjoeb-ko",
"jjoec-ko",
"jjyo-ko",
"jjyog-ko",
"jjyonh-ko",
"jjyong-ko",
"jju-ko",
"jjug-ko",
"jjun-ko",
"jjul-ko",
"jjum-ko",
"jjub-ko",
"jjus-ko",
"jjung-ko",
"jjweo-ko",
"jjweoss-ko",
"jjweong-ko",
"jjwe-ko",
"jjwes-ko",
"jjwi-ko",
"jjyu-ko",
"jjyung-ko",
"jjeu-ko",
"jjeug-ko",
"jjeum-ko",
"jjeus-ko",
"jjeung-ko",
"jji-ko",
"jjig-ko",
"jjin-ko",
"jjid-ko",
"jjil-ko",
"jjim-ko",
"jjib-ko",
"jjis-ko",
"jjing-ko",
"jjij-ko",
"jjip-ko",
"jjih-ko",
"ca-ko",
"cag-ko",
"can-ko",
"canh-ko",
"cal-ko",
"cam-ko",
"cab-ko",
"cas-ko",
"cass-ko",
"cang-ko",
"caj-ko",
"cac-ko",
"cae-ko",
"caeg-ko",
"caen-ko",
"cael-ko",
"caem-ko",
"caeb-ko",
"caes-ko",
"caess-ko",
"caeng-ko",
"cya-ko",
"cyan-ko",
"cyanh-ko",
"cyal-ko",
"cyam-ko",
"cyang-ko",
"ceo-ko",
"ceog-ko",
"ceon-ko",
"ceol-ko",
"ceom-ko",
"ceob-ko",
"ceos-ko",
"ceoss-ko",
"ceong-ko",
"ce-ko",
"ceg-ko",
"cen-ko",
"cel-ko",
"cem-ko",
"ceb-ko",
"ces-ko",
"ceng-ko",
"cej-ko",
"cyeo-ko",
"cyeon-ko",
"cyeob-ko",
"cyeoss-ko",
"cyeong-ko",
"cye-ko",
"cyen-ko",
"cyeng-ko",
"co-ko",
"cog-ko",
"con-ko",
"col-ko",
"com-ko",
"cob-ko",
"cos-ko",
"cong-ko",
"coh-ko",
"cwa-ko",
"cwag-ko",
"cwan-ko",
"cwal-ko",
"cwab-ko",
"cwang-ko",
"cwae-ko",
"coe-ko",
"coen-ko",
"coel-ko",
"coem-ko",
"coeb-ko",
"coes-ko",
"coeng-ko",
"cyo-ko",
"cyom-ko",
"cu-ko",
"cug-ko",
"cun-ko",
"cul-ko",
"cum-ko",
"cub-ko",
"cus-ko",
"cung-ko",
"cweo-ko",
"cweoss-ko",
"cwe-ko",
"cweg-ko",
"cwen-ko",
"cwel-ko",
"cwi-ko",
"cwin-ko",
"cwil-ko",
"cwim-ko",
"cwib-ko",
"cwis-ko",
"cwing-ko",
"cyu-ko",
"cyug-ko",
"cyun-ko",
"cyul-ko",
"cyum-ko",
"cyung-ko",
"ceu-ko",
"ceug-ko",
"ceun-ko",
"ceul-ko",
"ceulg-ko",
"ceum-ko",
"ceub-ko",
"ceus-ko",
"ceung-ko",
"cyi-ko",
"ci-ko",
"cig-ko",
"cin-ko",
"cid-ko",
"cil-ko",
"cilg-ko",
"cilm-ko",
"cim-ko",
"cib-ko",
"cis-ko",
"ciss-ko",
"cing-ko",
"cij-ko",
"cik-ko",
"ka-ko",
"kag-ko",
"kan-ko",
"kad-ko",
"kal-ko",
"kam-ko",
"kab-ko",
"kas-ko",
"kang-ko",
"kae-ko",
"kaeg-ko",
"kaen-ko",
"kael-ko",
"kaem-ko",
"kaeb-ko",
"kaes-ko",
"kaess-ko",
"kaeng-ko",
"kaek-ko",
"kya-ko",
"kyag-ko",
"kyan-ko",
"kyang-ko",
"kyak-ko",
"keo-ko",
"keog-ko",
"keon-ko",
"keod-ko",
"keol-ko",
"keom-ko",
"keob-ko",
"keos-ko",
"keoss-ko",
"keong-ko",
"keot-ko",
"ke-ko",
"keg-ko",
"ken-ko",
"kel-ko",
"kem-ko",
"keb-ko",
"kes-ko",
"kess-ko",
"keng-ko",
"kek-ko",
"ket-ko",
"kyeo-ko",
"kyeon-ko",
"kyeol-ko",
"kyeom-ko",
"kyeob-ko",
"kyeos-ko",
"kyeoss-ko",
"kyeong-ko",
"kye-ko",
"ko-ko",
"kog-ko",
"kon-ko",
"kod-ko",
"kol-ko",
"kom-ko",
"kob-ko",
"kos-ko",
"kong-ko",
"kwa-ko",
"kwag-ko",
"kwan-ko",
"kwal-ko",
"kwam-ko",
"kwas-ko",
"kwang-ko",
"kwae-ko",
"kwaeng-ko",
"koe-ko",
"koel-ko",
"kyo-ko",
"kyon-ko",
"ku-ko",
"kug-ko",
"kun-ko",
"kul-ko",
"kum-ko",
"kub-ko",
"kus-ko",
"kung-ko",
"kweo-ko",
"kweog-ko",
"kweon-ko",
"kweol-ko",
"kweom-ko",
"kweong-ko",
"kwe-ko",
"kwen-ko",
"kwel-ko",
"kweng-ko",
"kwi-ko",
"kwig-ko",
"kwin-ko",
"kwil-ko",
"kwim-ko",
"kwib-ko",
"kwis-ko",
"kwing-ko",
"kyu-ko",
"kyun-ko",
"kyul-ko",
"kyum-ko",
"keu-ko",
"keug-ko",
"keun-ko",
"keunh-ko",
"keul-ko",
"keum-ko",
"keub-ko",
"keung-ko",
"keuk-ko",
"kyi-ko",
"ki-ko",
"kig-ko",
"kin-ko",
"kil-ko",
"kim-ko",
"kib-ko",
"kis-ko",
"kiss-ko",
"king-ko",
"ta-ko",
"tag-ko",
"tan-ko",
"tad-ko",
"tal-ko",
"talg-ko",
"tam-ko",
"tab-ko",
"tas-ko",
"tass-ko",
"tang-ko",
"tae-ko",
"taeg-ko",
"taen-ko",
"tael-ko",
"taem-ko",
"taeb-ko",
"taes-ko",
"taess-ko",
"taeng-ko",
"tya-ko",
"tyang-ko",
"tyae-ko",
"teo-ko",
"teog-ko",
"teon-ko",
"teol-ko",
"teolm-ko",
"teolb-ko",
"teom-ko",
"teob-ko",
"teos-ko",
"teoss-ko",
"teong-ko",
"te-ko",
"teg-ko",
"ten-ko",
"tel-ko",
"tem-ko",
"teb-ko",
"tes-ko",
"teng-ko",
"tep-ko",
"tyeo-ko",
"tyeon-ko",
"tyeol-ko",
"tyeos-ko",
"tyeoss-ko",
"tye-ko",
"tyen-ko",
"to-ko",
"tog-ko",
"ton-ko",
"tod-ko",
"tol-ko",
"tom-ko",
"tob-ko",
"tos-ko",
"tong-ko",
"top-ko",
"twa-ko",
"twan-ko",
"twae-ko",
"toe-ko",
"toen-ko",
"toed-ko",
"toes-ko",
"toeng-ko",
"tyo-ko",
"tyong-ko",
"tu-ko",
"tug-ko",
"tun-ko",
"tul-ko",
"tulm-ko",
"tum-ko",
"tub-ko",
"tus-ko",
"tung-ko",
"tweo-ko",
"tweoss-ko",
"twe-ko",
"twes-ko",
"twi-ko",
"twig-ko",
"twin-ko",
"twil-ko",
"twim-ko",
"twib-ko",
"twing-ko",
"tyu-ko",
"tyun-ko",
"tyul-ko",
"tyum-ko",
"tyung-ko",
"teu-ko",
"teug-ko",
"teun-ko",
"teud-ko",
"teul-ko",
"teulm-ko",
"teum-ko",
"teub-ko",
"teus-ko",
"teung-ko",
"teut-ko",
"tyi-ko",
"tyin-ko",
"tyil-ko",
"tyim-ko",
"tyib-ko",
"ti-ko",
"tig-ko",
"tin-ko",
"til-ko",
"tim-ko",
"tib-ko",
"tis-ko",
"ting-ko",
"pa-ko",
"pag-ko",
"pagg-ko",
"pan-ko",
"panj-ko",
"pad-ko",
"pal-ko",
"palm-ko",
"pam-ko",
"pab-ko",
"pas-ko",
"pass-ko",
"pang-ko",
"pak-ko",
"pat-ko",
"pae-ko",
"paeg-ko",
"paen-ko",
"paed-ko",
"pael-ko",
"paem-ko",
"paeb-ko",
"paes-ko",
"paess-ko",
"paeng-ko",
"pya-ko",
"pyag-ko",
"pyat-ko",
"peo-ko",
"peog-ko",
"peon-ko",
"peol-ko",
"peom-ko",
"peob-ko",
"peos-ko",
"peoss-ko",
"peong-ko",
"peop-ko",
"pe-ko",
"peg-ko",
"pen-ko",
"pel-ko",
"pem-ko",
"peb-ko",
"pes-ko",
"peng-ko",
"pyeo-ko",
"pyeog-ko",
"pyeon-ko",
"pyeol-ko",
"pyeom-ko",
"pyeob-ko",
"pyeoss-ko",
"pyeong-ko",
"pye-ko",
"pyen-ko",
"pyel-ko",
"pyeb-ko",
"pyes-ko",
"po-ko",
"pog-ko",
"pon-ko",
"pol-ko",
"pom-ko",
"pob-ko",
"pos-ko",
"pong-ko",
"pot-ko",
"pwa-ko",
"pwag-ko",
"pwang-ko",
"poe-ko",
"poen-ko",
"pyo-ko",
"pyon-ko",
"pyol-ko",
"pyob-ko",
"pyos-ko",
"pu-ko",
"pug-ko",
"pun-ko",
"pud-ko",
"pul-ko",
"pulm-ko",
"pum-ko",
"pub-ko",
"pus-ko",
"pung-ko",
"pweo-ko",
"pweong-ko",
"pwi-ko",
"pwin-ko",
"pwil-ko",
"pwim-ko",
"pwis-ko",
"pyu-ko",
"pyun-ko",
"pyul-ko",
"pyum-ko",
"pyus-ko",
"pyung-ko",
"peu-ko",
"peun-ko",
"peul-ko",
"peum-ko",
"peub-ko",
"peus-ko",
"peung-ko",
"pyi-ko",
"pying-ko",
"pi-ko",
"pig-ko",
"pin-ko",
"pil-ko",
"pim-ko",
"pib-ko",
"pis-ko",
"piss-ko",
"ping-ko",
"ha-ko",
"hag-ko",
"han-ko",
"hal-ko",
"hals-ko",
"halt-ko",
"ham-ko",
"hab-ko",
"has-ko",
"hang-ko",
"hak-ko",
"hah-ko",
"hae-ko",
"haeg-ko",
"haen-ko",
"haed-ko",
"hael-ko",
"haem-ko",
"haeb-ko",
"haes-ko",
"haess-ko",
"haeng-ko",
"haec-ko",
"haeh-ko",
"hya-ko",
"hyan-ko",
"hyas-ko",
"hyang-ko",
"hyae-ko",
"hyaess-ko",
"heo-ko",
"heog-ko",
"heon-ko",
"heol-ko",
"heolm-ko",
"heolh-ko",
"heom-ko",
"heob-ko",
"heos-ko",
"heong-ko",
"heok-ko",
"heot-ko",
"heoh-ko",
"he-ko",
"heg-ko",
"hen-ko",
"hel-ko",
"hem-ko",
"heb-ko",
"hes-ko",
"hess-ko",
"heng-ko",
"heh-ko",
"hyeo-ko",
"hyeog-ko",
"hyeon-ko",
"hyeol-ko",
"hyeom-ko",
"hyeob-ko",
"hyeos-ko",
"hyeoss-ko",
"hyeong-ko",
"hye-ko",
"hyen-ko",
"hyel-ko",
"hyeb-ko",
"ho-ko",
"hog-ko",
"hon-ko",
"hol-ko",
"holt-ko",
"hom-ko",
"hob-ko",
"hos-ko",
"hong-ko",
"hot-ko",
"hwa-ko",
"hwag-ko",
"hwan-ko",
"hwal-ko",
"hwab-ko",
"hwas-ko",
"hwass-ko",
"hwang-ko",
"hwae-ko",
"hwaeg-ko",
"hwaen-ko",
"hwaes-ko",
"hwaeng-ko",
"hoe-ko",
"hoeg-ko",
"hoen-ko",
"hoel-ko",
"hoeb-ko",
"hoes-ko",
"hoeng-ko",
"hyo-ko",
"hyon-ko",
"hyol-ko",
"hyob-ko",
"hyos-ko",
"hyong-ko",
"hu-ko",
"hug-ko",
"hun-ko",
"hul-ko",
"hulg-ko",
"huls-ko",
"hult-ko",
"hulh-ko",
"hum-ko",
"hub-ko",
"hus-ko",
"hung-ko",
"hweo-ko",
"hweon-ko",
"hweol-ko",
"hweom-ko",
"hweong-ko",
"hwe-ko",
"hweg-ko",
"hwen-ko",
"hwel-ko",
"hweng-ko",
"hwi-ko",
"hwig-ko",
"hwin-ko",
"hwil-ko",
"hwim-ko",
"hwib-ko",
"hwis-ko",
"hwing-ko",
"hyu-ko",
"hyug-ko",
"hyun-ko",
"hyul-ko",
"hyum-ko",
"hyus-ko",
"hyung-ko",
"heu-ko",
"heug-ko",
"heun-ko",
"heunh-ko",
"heud-ko",
"heul-ko",
"heulg-ko",
"heult-ko",
"heum-ko",
"heub-ko",
"heus-ko",
"heung-ko",
"heut-ko",
"hyi-ko",
"hyin-ko",
"hyil-ko",
"hyim-ko",
"hyib-ko",
"hying-ko",
"hi-ko",
"hig-ko",
"hin-ko",
"hil-ko",
"him-ko",
"hib-ko",
"his-ko",
"hiss-ko",
"hing-ko",
"hih-ko",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
"comma-han",
"period-han",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
dittomark,
numbersign,
referencemark,
slash,
backslash,
asterisk.full,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
anglebracketleft,
anglebracketright,
blacklenticularbracketleft,
blacklenticularbracketright,
cornerbracketleft,
cornerbracketright,
dblanglebracketleft,
dblanglebracketright,
tortoiseshellbracketleft,
tortoiseshellbracketright,
whitecornerbracketleft,
whitecornerbracketright,
parenleft.full,
parenright.full,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
blackSunWithRays,
heartWhiteSuit,
diamondWhiteSuit,
clubBlackSuit,
heartBlackSuit,
diamondBlackSuit,
clubWhiteSuit,
blackFourPointedStar,
whiteFourPointedStar,
openCentreAsterisk,
eightPointedBlackStar,
eightPointedPinwheelStar,
blackFlorette,
whiteFlorette,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
telephone,
cent,
currency,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Ohm,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
dottedCircle,
lozenge,
horizontalFillSquare,
verticalFillSquare,
downBlackTriangle,
downWhiteTriangle,
breveinvertedcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
JAMO.dlig,
debut.dlig,
whiteFlorette.001,
snowman_VS15,
"ggoc-ko.ss03",
"gi_beom-ko.dlig",
"min_ho-ko.dlig",
"on_yu-ko.dlig",
"jong_hyeon-ko.dlig",
"tae_min-ko.dlig",
boxHeavyHorizontal_boxHeavyHorizontal_boxHeavyHorizontal_boxHeavyHorizontal_boxHeavyHorizontal,
a.ss01,
g.ss01,
f_f,
f_f_i,
f_f_l,
f_i,
f_k,
f_l,
G.ss02,
G.ss01,
Q.ss01,
leftRightArrow.001,
leftRightArrow.002,
"sya_i_ni-ko.dlig",
minha.dlig
)